@import '../styles';
.main-container {
    background-color: $bgColor;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    .minibio {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        padding: 50px 0;
        .info {
            margin-bottom: 40px;
            p {
                text-align: center;
                margin: 0;
            }
        }
        img {
            width: 154px;
            height: auto;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
        }
        h1 {
            text-align: center;
            font-weight: 500;
        }
        .social-box {
            .link-box {
                transition: $mainTransition;
                background: #fff;
                padding: 10px 30px;
                box-shadow: 0px 0px 20px 3px #e7e7e7;
                margin: 20px;
                display: flex;
                text-decoration: none;
                .left-item {
                    fa-icon {
                        margin-right: 24px;
                        transition: $mainTransition;
                        font-size: 42px;
                        color: $cBlack;
                    }
                }
                .right-item {
                    transition: $mainTransition;
                    color: $cBlack;
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.0);
                    box-shadow: 0px 0px 20px 3px #cac9d8cf;
                    .left-item {
                        fa-icon {
                            color: $cBlue;
                        }
                    }
                    .right-item {
                        color: $cBlue;
                    }
                }
            }
        }
    }
}

.btn-change {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 24px;
    border-radius: 50px;
    border: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 3px #e7e7e7;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

.main-container.dark {
    background-color: $cBlack;
    color: white;
    .minibio {
        .social-box {
            .link-box {
                background-color: $cBlack;
                box-shadow: 0px 0px 20px 3px #e7e7e72e;
                .right-item {
                    color: #fff;
                }
                .left-item {
                    fa-icon {
                        color: #fff;
                    }
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.278);
                }
            }
        }
    }
    .btn-change {
        background-color: rgb(55, 55, 58);
        color: #fff;
        box-shadow: none;
    }
}