<div class="main-container" [ngClass]="{'dark': isNight}">
    <div class="minibio">
        <img src="assets/images/myphoto.jpeg" alt="Andrey Marin">
        <h1>Andrey Marin</h1>
        <div class="info">
            <p>Entrenador de Developers <span>👊</span></p>
            <p>Aquí todos mis links oficiales <span>🌎 ⬇️</span></p>
        </div>

        <div class="social-box">

            <a href="{{social.link}}" target="_blank" *ngFor="let social of socialNetworks" class="link-box">
                <div class="left-item">
                    <fa-icon [icon]="social.img"></fa-icon>
                </div>
                <div class="right-item">
                    <p>{{social.text}}</p>
                </div>
            </a>

        </div>
    </div>

    <button class="btn-change" type="button" (click)="changeMode()">
      <fa-icon [icon]="btnNightMode"></fa-icon>
    </button>
</div>